.div1{
    height: 100vh;
    position: relative;
}

.div2{
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%, -50%);
}

.spinner{
    width: 100px !important;
    height: 100px !important;

    border: 10px solid currentColor !important;
    border-right-color: rgb(41, 69, 211) !important;
}

.load{
    margin: 10px;
    position: absolute;
    top: 100%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%, -50%);
    
}



